In [0]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [0]:
d = pd.read_csv('COORD 30.11.csv')

FileNotFoundError: ignored

In [0]:
d

    Latitude  Longitude
0   40.42244   -3.68816
1   40.42242   -3.68785
2   40.42224   -3.68818
3   40.42222   -3.68787
4   40.42221   -3.68817
5   40.42219   -3.68787
6   40.42209   -3.68820
7   40.42206   -3.68788
8   40.42205   -3.68822
9   40.42203   -3.68789
10  40.42187   -3.68825
11  40.42186   -3.68792

In [0]:
d['Floors'], d['Height'], d['Day'], d['Time'],d['Azimuth'], d['Altitude'] = ['0','0','0','0','0','0']
d

In [0]:
d['Floors'] = [8,8,8,8,7,7,7,7,5,5,5,5]
d['Day'] = [21,21,21,21,21,21,21,21,21,21,21,21]
d['Height'] = d['Floors'] * 3.5
d

NameError: ignored

In [0]:
pd1 = pd.read_csv('SOL 29.11.csv')
pd1
#21.03.2019

     Time  Altitude  Azimuth
0   06:30      1.85    91.13
1   07:00      7.34    96.03
2   07:30     12.94   101.05
3   08:00     18.46   106.29
4   08:30     23.85   111.88
5   09:00     29.02   117.94
6   09:30     33.89   124.62
7   10:00     38.37   132.07
8   10:30     42.32   140.44
9   11:00     45.58   149.83
10  11:30     48.00   160.21
11  12:00     49.40   171.38
12  12:30     49.68  -177.07
13  13:00     48.82  -165.64
14  13:30     46.89  -154.84
15  14:00     44.02  -144.95
16  14:30     40.39  -136.08
17  15:00     36.16  -128.19
18  15:30     31.47  -121.15
19  16:00     26.43  -114.80
20  16:30     21.14  -109.00
21  17:00     15.68  -103.60
22  17:30     10.11   -98.48
23  18:00      4.52   -93.54
24  18:30     -1.12   -88.67

In [0]:
d3 = []
row_aux = []
for index, i in d.iterrows():
  for index, j in pd1.iterrows():
      row_aux = [i.Latitude, i.Longitude, i.Floors, i.Height, i.Day, j.Time,	j.Azimuth, j.Altitude] 
      d3.append(row_aux)

# Create the pandas DataFrame 
df = pd.DataFrame(d3, columns = ['Latitude', 'Longitude', 'Floors', 'Height', 'Day', 'Time',	'Azimuth', 'Altitude']) 
df

     Latitude  Longitude  Floors  Height  Day   Time  Azimuth  Altitude
0    40.42244   -3.68816       8    28.0   21  06:30    91.13      1.85
1    40.42244   -3.68816       8    28.0   21  07:00    96.03      7.34
2    40.42244   -3.68816       8    28.0   21  07:30   101.05     12.94
3    40.42244   -3.68816       8    28.0   21  08:00   106.29     18.46
4    40.42244   -3.68816       8    28.0   21  08:30   111.88     23.85
..        ...        ...     ...     ...  ...    ...      ...       ...
295  40.42186   -3.68792       5    17.5   21  16:30  -109.00     21.14
296  40.42186   -3.68792       5    17.5   21  17:00  -103.60     15.68
297  40.42186   -3.68792       5    17.5   21  17:30   -98.48     10.11
298  40.42186   -3.68792       5    17.5   21  18:00   -93.54      4.52
299  40.42186   -3.68792       5    17.5   21  18:30   -88.67     -1.12

[300 rows x 8 columns]

In [0]:
#df['Azimuth'] = df ['Azimuth'].astype(float)

ValueError: ignored

In [0]:
!pip install utm
#biblioteca para utm

Requirement already satisfied: utm in /usr/local/lib/python3.6/dist-packages (0.5.0)

In [0]:
# Importar librerías necesarias
import numpy as np
import pandas as pd
import math
import utm

#df = pd.read_csv("mock.csv")

#dataset prueba de momento
#df = pd.DataFrame({"Altitude": [10,20], "Azimuth": [20, 30], "Height": [8*3.5,8*3.5], "coordx": [40.42244,40.42242], "coordy": [	-3.68816, -3.68785],    })

# Mostrar número de filas y columnas del dataframe
#print("Filas: " + str(df.shape[0]) + " Cols: " + str(df.shape[1]))

# Mostrar las primeras 10 filas
display(df.head(10))
display(df.columns)

AttributeError: ignored

1. Para encontrar la altura del edificio y los angulos necesitamos que las coordenadas sean geograficas, como están (40, -3N)

2. Para la posición de las nuevas coordenadas tenemos que
  a) pasar las coordenadas geograficas de origen a UTM
  b) sumarles las long (newposx, newposy) 
  c) volver a coordenadas geograficas

In [0]:
df.dtypes

Latitude     float64
Longitude    float64
Floors         int64
Height       float64
Day            int64
Time          object
Azimuth      float64
Altitude     float64
dtype: object

In [0]:
#CALCULO LONGITUD SOMBRA - cuanto mide la sombra


#CALCULO COORDENADAS SOMBRA - donde acaba la sombra (punto sombra/no sombra)
# coordenada X de la sombra

# coordenada Y de la sombra


#vectorx, vectory - vectores no unitarios - antes de normalizar



 #NORMALIZAMOS VECTORES Y MULTIPLICAMOS POR LA SOMBRA

     Latitude  Longitude  Floors  ...  Longshadow    Vectorx     Vectory
0    40.42244   -3.68816       8  ...  866.877984 -17.095650  866.709397
1    40.42244   -3.68816       8  ...  217.370029 -22.834543  216.167327
2    40.42244   -3.68816       8  ...  121.863408 -23.357018  119.604096
3    40.42244   -3.68816       8  ...   83.877737 -23.527637   80.510404
4    40.42244   -3.68816       8  ...   63.334750 -23.602574   58.772519
..        ...        ...     ...  ...         ...        ...         ...
295  40.42186   -3.68792       5  ...   45.258209 -14.734632  -42.792478
296  40.42186   -3.68792       5  ...   62.341760 -14.659173  -60.593759
297  40.42186   -3.68792       5  ...   98.145220 -14.472903  -97.072237
298  40.42186   -3.68792       5  ...  221.370629 -13.668608 -220.948239
299  40.42186   -3.68792       5  ... -895.132524 -20.776737  894.891369

[300 rows x 11 columns]

In [0]:
# PASAMOS VALORES DEL EFICIO A UTM

   Latitude  ...                                     coordediutm
0  40.42244  ...  (441622.22267770325, 4474872.969310547, 30, T)
1  40.42244  ...  (441622.22267770325, 4474872.969310547, 30, T)
2  40.42244  ...  (441622.22267770325, 4474872.969310547, 30, T)

[3 rows x 12 columns]

In [0]:
# ENCONTRAMOS PUNTO DE SOMBRA

   Latitude  ...                                     shadowpoint
0  40.42244  ...    (441605.1270272271, 4475739.67870746, 30, T)
1  40.42244  ...  (441599.38813451777, 4475089.136637478, 30, T)
2  40.42244  ...     (441598.86566014565, 4474992.573407, 30, T)

[3 rows x 13 columns]